################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FotKlubb/copilot-chat/7601ba85/sessions/0f851614-3283-4092-94be-30d7e6d0884c
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/3b7ec8e2-6522-4b53-b63c-7f4e6c6c5e12
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/49b29ee2-5038-4da6-b9cc-4216208564b3
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/548b6da5-bc23-4a33-b7fb-1cdaaf2dd6c9
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/9e1f9116-21d6-4106-80e1-1685ac2d554a
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/b12687de-4342-4948-8540-ea3a7357d8e6
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/cd4f13cc-c331-4a36-b934-442334a56d7d
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/ed96b3b0-f917-4d5f-99dc-bab94d27b3a5
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/eec18230-17b8-4e9f-94d3-383eaf1c8bdb
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/f46e5936-ba1e-448c-9c99-d28f56f89316
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/f804f28c-1113-41d4-b23f-50a2cb400029
/.vs/FotKlubb/CopilotIndices/0.2.1657.32929/CodeChunks.db
/.vs/FotKlubb/CopilotIndices/0.2.1657.32929/SemanticSymbols.db
/.vs/FotKlubb/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
/.vs/FotKlubb/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
/.vs/FotKlubb/FileContentIndex/1c90b6e1-824c-410c-8a59-361046005ac8.vsidx
/.vs/FotKlubb/FileContentIndex/a9966a4d-a73d-4ecd-a7da-322eb03bd9b0.vsidx
/.vs/FotKlubb/FileContentIndex/b21573b1-d2f0-4e3e-8fd9-ab968ebac9a7.vsidx
/.vs/FotKlubb/FileContentIndex/c0e0907d-3245-4647-b335-df66ccc45fd0.vsidx
/.vs/FotKlubb/FileContentIndex/fea983b3-f1d9-41bb-bbe9-7bce14244b48.vsidx
/.vs/ProjectEvaluation/fotklubb.metadata.v9.bin
/.vs/ProjectEvaluation/fotklubb.projects.v9.bin
/.vs/ProjectEvaluation/fotklubb.strings.v9.bin
/FotKlubb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Windows.Extensions.dll
/FotKlubb/bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
/FotKlubb/bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
/FotKlubb/bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
/FotKlubb/bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
/FotKlubb/bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
/FotKlubb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/obj/Docker/TargetOS.cache
/obj/Docker/MergedDockerCompose1.cache
/obj/Debug/docker-compose.dcproj.AssemblyReference.cache
/FotKlubb/Views/Profile/ProfileAccess.cshtml
/FotKlubb/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/FotKlubb/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FotKlubb/bin/Debug/net8.0/appsettings.Development.json
/FotKlubb/bin/Debug/net8.0/appsettings.json
/FotKlubb/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/FotKlubb/bin/Debug/net8.0/FotKlubb.deps.json
/FotKlubb/bin/Debug/net8.0/FotKlubb.dll
/FotKlubb/bin/Debug/net8.0/FotKlubb.exe
/FotKlubb/bin/Debug/net8.0/FotKlubb.pdb
/FotKlubb/bin/Debug/net8.0/FotKlubb.runtimeconfig.json
/FotKlubb/bin/Debug/net8.0/FotKlubb.staticwebassets.runtime.json
/FotKlubb/bin/Debug/net8.0/Google.Protobuf.dll
/FotKlubb/bin/Debug/net8.0/Humanizer.dll
/FotKlubb/bin/Debug/net8.0/K4os.Compression.LZ4.dll
/FotKlubb/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
/FotKlubb/bin/Debug/net8.0/K4os.Hash.xxHash.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/FotKlubb/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/FotKlubb/bin/Debug/net8.0/Mono.TextTemplating.dll
/FotKlubb/bin/Debug/net8.0/MySql.Data.dll
/FotKlubb/bin/Debug/net8.0/MySql.EntityFrameworkCore.dll
/FotKlubb/bin/Debug/net8.0/MySqlConnector.dll
/FotKlubb/bin/Debug/net8.0/Newtonsoft.Json.dll
/FotKlubb/bin/Debug/net8.0/Pomelo.EntityFrameworkCore.MySql.dll
/FotKlubb/bin/Debug/net8.0/System.CodeDom.dll
/FotKlubb/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/FotKlubb/bin/Debug/net8.0/System.Composition.Convention.dll
/FotKlubb/bin/Debug/net8.0/System.Composition.Hosting.dll
/FotKlubb/bin/Debug/net8.0/System.Composition.Runtime.dll
/FotKlubb/bin/Debug/net8.0/System.Composition.TypedParts.dll
/FotKlubb/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/FotKlubb/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/FotKlubb/bin/Debug/net8.0/System.Security.Permissions.dll
/FotKlubb/bin/Debug/net8.0/System.Windows.Extensions.dll
/FotKlubb/bin/Debug/net8.0/ZstdSharp.dll
/FotKlubb/Migrations/20241027220251_InitialCreation.cs
/FotKlubb/Migrations/20241027220251_InitialCreation.Designer.cs
/FotKlubb/Migrations/20241029202806_InitialUpdate.cs
/FotKlubb/Migrations/20241029203524_InitialUpdate1.cs
/FotKlubb/Migrations/20241029202806_InitialUpdate.Designer.cs
/FotKlubb/Migrations/20241029203524_InitialUpdate1.Designer.cs
/FotKlubb/Migrations/AppDbContextModelSnapshot.cs
/FotKlubb/Models/AccountModel/CreateProfileModel.cs
/FotKlubb/Models/AccountModel/LoginProfileModel.cs
/FotKlubb/Models/Activity/UsersActivity.cs
/FotKlubb/Models/LocationModel/PositionModel.cs
/FotKlubb/Models/ShopModel/CategoryModel.cs
/FotKlubb/Models/ShopModel/MarketModel.cs
/FotKlubb/Models/SocialMediaModelcs.cs
/FotKlubb/obj/Container/AbsoluteOutputAssemblyPath.cache
/FotKlubb/obj/Container/AdditionalProbingPaths.cache
/FotKlubb/obj/Container/ContainerCreationResult.cache
/FotKlubb/obj/Container/ContainerDevelopmentMode.cache
/FotKlubb/obj/Container/ContainerId.cache
/FotKlubb/obj/Container/ContainerName.cache
/FotKlubb/obj/Container/ContainerOperatingSystemFlavor.cache
/FotKlubb/obj/Container/ContainerRunContext.cache
/FotKlubb/obj/Container/ContainerRuntimeID.cache
/FotKlubb/obj/Container/DebuggeeArguments.cache
/FotKlubb/obj/Container/DebuggeeKillProcessCommand.cache
/FotKlubb/obj/Container/DebuggeeProgram.cache
/FotKlubb/obj/Container/DebuggeeWorkingDirectory.cache
/FotKlubb/obj/Container/DistrolessHelperSupported.cache
/FotKlubb/obj/Container/FastModeProjectMountDirectory.cache
/FotKlubb/obj/Container/ImageBuildContext.cache
/FotKlubb/obj/Container/ImageId.cache
/FotKlubb/obj/Container/LaunchedImageId.cache
/FotKlubb/obj/Container/OperatingSystemName.cache
/FotKlubb/obj/Container/TargetFramework.cache
/FotKlubb/obj/Container/VolumeMappings.cache
/FotKlubb/obj/Container/VolumeMappings2.cache
/FotKlubb/obj/Container/VsDbgScript.cache
/FotKlubb/obj/Debug/net8.0/ref/FotKlubb.dll
/FotKlubb/obj/Debug/net8.0/refint/FotKlubb.dll
/FotKlubb/obj/Debug/net8.0/scopedcss/bundle/FotKlubb.styles.css
/FotKlubb/obj/Debug/net8.0/scopedcss/projectbundle/FotKlubb.bundle.scp.css
/FotKlubb/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/FotKlubb/obj/Debug/net8.0/staticwebassets/msbuild.build.FotKlubb.props
/FotKlubb/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.FotKlubb.props
/FotKlubb/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.FotKlubb.props
/FotKlubb/obj/Debug/net8.0/staticwebassets/msbuild.FotKlubb.Microsoft.AspNetCore.StaticWebAssets.props
/FotKlubb/obj/Debug/net8.0/FotKlubb.csproj.Up2Date
/FotKlubb/obj/Debug/net8.0/FotKlubb.dll
/FotKlubb/obj/Debug/net8.0/FotKlubb.genruntimeconfig.cache
/FotKlubb/obj/Debug/net8.0/FotKlubb.pdb
/FotKlubb/obj/Debug/net8.0/staticwebassets.build.json
/FotKlubb/obj/Debug/net8.0/staticwebassets.development.json
/FotKlubb/obj/Debug/net8.0/staticwebassets.pack.json
/FotKlubb/Repository/LocationInterface.cs
/FotKlubb/Repository/LoginProfileInterface.cs
/FotKlubb/Repository/LoginProfileRepository.cs
/FotKlubb/Repository/ProfileCreationInterface.cs
/FotKlubb/Repository/ProfileCreationRepository.cs
/FotKlubb/Repository/UserAcitivityInterface.cs
/obj/Docker/fotklubb/AbsoluteOutputAssemblyPath.cache
/obj/Docker/fotklubb/BuildContextPath.cache
/obj/Docker/fotklubb/ContainerDebugAbsoluteOutputAssemblyPath.cache
/obj/Docker/fotklubb/ProjectReferences.cache
/obj/Docker/fotklubb/ProjectType.cache
/obj/Docker/fotklubb/TargetFramework.cache
/obj/Docker/fotklubb/TargetFrameworkVersion.cache
/obj/Docker/fotklubb/VolumeMappingsForStaticWebAssets.cache
/obj/Docker/fotklubb/VolumeMappingsForTools.cache
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.debug.partial.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.release.partial.g.yml
/obj/Docker/DOCKER_REGISTRY.cache
/obj/Docker/MergedDockerCompose.cache
/.vs/FotKlubb/copilot-chat/7601ba85/sessions/0f851614-3283-4092-94be-30d7e6d0884c
/FotKlubb/Repository/ProfileCreationInterface.cs
/.vs/FotKlubb/FileContentIndex/6995a9e5-2f05-4e3e-8b6f-a13811a8f00a.vsidx
/.vs/FotKlubb/FileContentIndex/7a363b87-86d9-4bcf-be05-26fdddc71944.vsidx
/.vs/FotKlubb/FileContentIndex/8fcebe4a-9596-4874-958b-84629f669de0.vsidx
/.vs/FotKlubb/FileContentIndex/d832944f-1c22-4691-87ed-6084a40c458b.vsidx
/.vs/FotKlubb/FileContentIndex/db06f009-ec59-4de5-9df5-6123e35e61bd.vsidx
/.vs/FotKlubb/FileContentIndex/e69fe7bd-f39c-473e-8f9e-b7cd446b1dd9.vsidx
/.vs/FotKlubb/FileContentIndex/e2600a82-582e-4776-a05c-3544aa1b517b.vsidx
