@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet"/>

    <body class="indexClass">

       

    <div class="text-center">
        <h1 class="display-4" id="index-headline">Velkommen til FotKlubb</h1>
        <div class="content">
            <p>Finn ønsket klubb <a href="https://localhost:50441/Location/MapGeo">her</a> </p>
            <p>Du kan også lage bruker <a href="https://localhost:50441/Profile/ProfileAccess">her</a></p>
        </div>
    </div>

    </body>



